<?php

/* @var \Magento\Sales\Model\Order $order */
$order = $this->getData('order');
$sc = null;
$bc = null;
if($order != null) {
	$ba = $order->getBillingAddress();
	if ( $ba != null ) {
		$bc = $ba->getCompany();
	}
	$sa = $order->getShippingAddress();
	if ( $sa != null ) {
		$sc = $sa->getCompany();
	}
}
$isCompany = $bc != null || $sc != null;

if($isCompany) {
	echo __('Företag');
	echo '</td></tr>';
	echo '<tr><td style="padding-right: 10px;"><b>';
	echo __('Org. nummer:');
	echo '</b></td><td>';
	echo $order->getData('collector_ssn');
} else {
	echo __('Privatperson');
}