<?php

/* @var \Magento\Sales\Model\Order $order */
$order = $this->getData('order');

if ($order != null) {
	/* @var \Magento\SalesRule\Api\Data\RuleInterface[] $rules */
	$rules = $block->getOrderDiscounts();
	?>

    <table cellpadding="4" cellspacing="0" border="0" width="100%" style="font-size: 0.8em;">
        <tbody>
        <tr>
            <td style="width: 15%;font-size: 1em;font-weight:bold;"><?php echo __('Produkt'); ?></td>
            <td style="width: 39.6552%;font-size: 1em;font-weight:bold;"><?php echo __('Beskrivning'); ?></td>
            <td style="width: 10%; text-align: center;font-size: 1em;font-weight:bold;"><?php echo __('Beställt'); ?></td>
            <td style="text-align: right; width: 10%;font-size: 1em;font-weight:bold;"><?php echo __('à pris'); ?></td>
            <td style="text-align: right; width: 14%;font-size: 1em;font-weight:bold;"><?php echo __('Summa'); ?></td>
        </tr>
		<?php
		$om = \Magento\Framework\App\ObjectManager::getInstance();
		$totalExclTax = 0;
		$product = $om->get('\Magento\Catalog\Model\Product');
		$imageHelper = $om->get('\Magento\Catalog\Helper\Image');
		$stockItem = $om->get('\Magento\CatalogInventory\Model\Stock\Item');
		/** @var \Magento\CatalogInventory\Api\StockStateInterface $stockStateInterface */
		$stockStateInterface = $om->get('\Magento\CatalogInventory\Api\StockStateInterface');


		foreach ($order->getAllVisibleItems() as $item) {
			$product->load($item->getData('product_id'));
			?>
            <tr>
                <td style="width: 15%;font-size: 1em;"><img src="<?php echo $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getImage())->resize(50, 50)->getUrl(); ?>"></td>
                <td style="width: 39.6552%;font-size: 1em;">
                    <p>
                        <strong><?php echo $item->getName(); ?></strong>
                        <br/>
                        <span> Art.nr: <?php echo $item->getSku(); ?><br/>
						<em><?php echo (
						        $product->getData('bestallningsvara')
                                || ! ( $stockStateInterface->getStockQty( $product->getId(), $product->getStore()->getWebsiteId()) > 0 )
                                    ? __('Not in stock*')
                                    : __('In stock*')
                            ); ?></em>
					</span>
                    </p>
                </td>
                <td style="width: 10%; text-align: center;font-size: 1em;"><?php echo intval($item->getQtyOrdered()); ?></td>
                <td style="width: 10%; text-align: right;font-size: 1em;"><?php echo $block->getFormattedPrice($item->getPriceInclTax()); $totalExclTax += $item->getPrice() * $item->getQtyOrdered(); ?></td>
                <td style="width: 14%; text-align: right;font-size: 1em;"><?php echo $block->getFormattedPrice($item->getRowTotalInclTax()); ?></td>
            </tr>
			<?php
		}
		?>
        <tr>
            <td style="text-align: right; width: 74.6552%;font-size: 1em;" colspan="4">
                <?php echo __('Varuvärde:'); ?><br />
                <?php echo __('Frakt:'); ?><br />
                <?php echo __('Moms 25% tillkommer med:'); ?><br />
                <?php if(count($rules) > 0) {
                    foreach ($rules as $rule) {
                        echo $rule->getName() . '<br />';
                        break;
                    }
                } ?>
                <br />
                <strong><?php echo __('TOTAL inkl. moms:'); ?></strong>
            </td>
            <td style="width: 14%; text-align: right;font-size: 1em;">
                <?php echo $block->getFormattedPrice($totalExclTax); ?><br />
                <?php echo $block->getFormattedPrice($order->getShippingAmount()); ?><br />
                <?php echo $block->getFormattedPrice($order->getTaxAmount()); ?><br />
                <?php if(count($rules) > 0) {
                    echo $block->getFormattedPrice($order->getDiscountAmount()) . '<br />';
                } ?>
                <br />
                <strong><?php echo $block->getFormattedPrice($order->getGrandTotal()); ?></strong>
            </td>
        </tr>
        </tbody>
    </table>
<?php }