<?php
/* @var \Magento\Sales\Model\Order $order */
$order = $this->getData('order');
if( $order != null ) {
	$orderComment = $order->getData( 'order_comment' );
	if ( $orderComment ) {
		?>
        <br/>
        <table cellpadding="4" cellspacing="0" border="0" width="100%" class="header">
            <tbody>
            <tr>
                <td>
                    <strong>Meddelande till kundtj&auml;nst:</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <table cellpadding="4" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr>
                <td><?php echo $orderComment; ?></td>
            </tr>
            </tbody>
        </table>
	<?php }
}