<?php

/* @var \Magento\Sales\Model\Order $order */
$order = $this->getData('order');
if($order != null) {
	/** @var $quote Magento\Quote\Model\Quote */
	$quote = \Magento\Framework\App\ObjectManager::getInstance()->create( 'Magento\Quote\Model\Quote' );
	$quote->loadByIdWithoutStore( $order->getQuoteId() );
	$dp  = $quote->getData( 'delivery_point' );
	$str = '';
	if ( $dp != null ) {
		$dp  = json_decode( $dp );
		$str .= $dp->name . '<br>';
		$str .= $dp->address . '<br>' . ( strlen( $dp->address2 ) > 0 ? $dp->address2 . '<br>' : '' );
		$str .= $dp->zipCode . '&nbsp;' . $dp->city;
	} else if ( $order->getShippingMethod() != 'freeshipping_freeshipping' ) {
		$sa  = $order->getShippingAddress();
		$str .= $sa->getName() . '<br>';
		foreach ( $sa->getStreet() as $s ) {
			$str .= $s . '<br>';
		}
		$str .= $sa->getPostcode() . '&nbsp;' . $sa->getRegion();
	}

	echo $str;
}
